* {
	font-family: 'Noto Sans Japanese', sans-serif;
}

html,body {
	margin: 0;
	padding: 0;
	border: 0;
}

.m-filter {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	visibility: visible;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  transition: 1s;

}

.m-filter::after {
  visibility: visible;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,.8);
}

.m-filter > p {

}

.header {
	background-color: #1565c0;
	width: 100%;
	height: 90px;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 2;
}

.header.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.header p {
	font-size: 26px;
	display: inline-block;
}

.header > i {
	float: right;
	font-size: 26px;
	display: inline-block;
	line-height: 90px;
	margin-right: 10px;
}

.header > i:hover {
	cursor: pointer;
}

.arrow_box {
	top: 105px;
	margin-left: 40%;
	position: fixed;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	display: none;
	text-align: center;
	margin-right: 15px;
}

nav.arrow_box.on, nav.arrow_box.on:after {
	display: block;
	z-index: 9999;
	background: white;
	border-top: 6px solid #1565c0;

}

.arrow_box > ul {
	-webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.arrow_box > ul > li {
	list-style-type: none;
	padding-bottom:15px;
	overflow: hidden;
	position: relative;

}

.arrow_box > ul > li > a {
	text-decoration: none;
	color: #000;
	position: relative;
	user-select: none;
	padding: 10px 15px;
	line-height: 15px;
	display: block;
}

.ink {
 display: block; position: absolute;
 background: #1565c0;
 border-radius: 100%;
 transform: scale(0);
}

.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
 100% {opacity: 0; transform: scale(2.5);}
}

.main-container {
	display: inline-block;
}

.main-container > * {
	margin-left: 15px;
	margin-top: 15px;
}

.close-contents {
	display: none;
}

.open-contents {
	display: block;
}

.circle {
	z-index: 9999;
	position: fixed;
	display: inline-block;
	right: 15px;
	top: 90%;
	bottom: 15px;
	width: 56px;
	height: 56px;
	overflow: hidden;
	background-color: #d23f31;
	border-radius: 50%;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
	text-align: center;
	line-height: 56px;
}

.circle:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

@media screen and (min-width: 768px) {

	.arrow_box {
		top: 105px;
		margin-left: 70%;
		width: 28%;
	}

}